<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="testUser" class="cc.rcbb.mini.spring.test.TestUser">
        <property type="String" name="id" value="123"/>
        <property type="String" name="name" value="abc"/>
        <property type="String" name="age" value="3"/>
    </bean>
    <bean id="testUserDao" class="cc.rcbb.mini.spring.test.TestUserDao"></bean>
    <bean id="testUserService" class="cc.rcbb.mini.spring.test.TestUserService"/>

    <bean id="handlerAdapter" class="cc.rcbb.mini.spring.web.method.annotation.RequestMappingHandlerAdapter">
        <property type="cc.rcbb.mini.spring.http.converter.HttpMessageConverter" name="messageConverter"
                  ref="messageConverter"/>
    </bean>
    <bean id="messageConverter" class="cc.rcbb.mini.spring.http.converter.DefaultHttpMessageConverter">
        <property type="cc.rcbb.mini.spring.util.ObjectMapper" name="objectMapper" ref="objectMapper"/>
    </bean>
    <bean id="objectMapper" class="cc.rcbb.mini.spring.util.DefaultObjectMapper">
        <property type="String" name="dateFormat" value="yyyy/MM/dd"/>
        <property type="String" name="decimalFormat" value="###.##"/>
    </bean>

    <bean id="dataSource" class="cc.rcbb.mini.spring.jdbc.datasource.SingleConnectionDataSource">
        <property type="String" name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property type="String" name="url" value="jdbc:mysql://127.0.0.1:3306/test_db"/>
        <property type="String" name="username" value="root"/>
        <property type="String" name="password" value="123456"/>
    </bean>
    <bean id="jdbcTemplate" class="cc.rcbb.mini.spring.jdbc.core.JdbcTemplate">
        <property type="javax.sql.DataSource" name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="sqlSessionFactory" class="cc.rcbb.mini.spring.batis.DefaultSqlSessionFactory" init-method="init">
        <property type="String" name="mapperLocations" value="mapper"></property>
    </bean>

    <bean id="realAction" class="cc.rcbb.mini.spring.test.ActionImpl"/>
    <bean id="tracingInterceptor" class="cc.rcbb.mini.spring.aop.TracingInterceptor"/>
    <bean id="myBeforeAdvice" class="cc.rcbb.mini.spring.test.advice.MyBeforeAdvice"/>
    <bean id="myAfterAdvice" class="cc.rcbb.mini.spring.test.advice.MyAfterAdvice"/>

    <bean id="advisor" class="cc.rcbb.mini.spring.aop.NameMatchMethodPointcutAdvisor" >
        <property type="cc.rcbb.mini.spring.aop.Advice" name="advice" ref="myBeforeAdvice"/>
        <property type="java.lang.String" name="mappedName" value="do*"/>
    </bean>

    <bean id="action" class="cc.rcbb.mini.spring.aop.ProxyFactoryBean" init-method="initializeAdvisor">
        <property type="java.lang.Object" name="target" ref="realAction"/>
        <property type="java.lang.String" name="interceptorName" value="advisor"/>
    </bean>

</beans>
